*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

html{
    font-size: 10px;
}

body{
    font-size: 1.4rem;
}

.clearfix::before,
.clearfix::after{
    content: '';
    display: block;
    clear: both;
}

input, button{
    outline: none;
}

a{
    color: skyblue;
}

/* 主要内容 */

#content{
    width: 50rem;
    height: 60rem;
    border: 0.1rem solid #e0e0e0;
    /* background-color: red; */
    margin: 5rem auto;
}

#content .content-header a{
    width: 50%;
    height: 6rem;
    background-color: #e0e0e0;
    color: blanchedalmond;
    display: inline-block;
    float: left;

    text-align: center;
    line-height: 6rem;
}

#content .content-header a:last-child{
    background-color: white;

}

#content .content-body{
    /* background-color: red; */
    padding: 4rem;
}

#content .content-body .dom .s1{
    margin-bottom: 0.6rem;
    
}

#content .content-body .dom .s2{
    margin-bottom: 2rem;
    margin-top: 1rem;
}

#content .content-body .dom .btn{
    width: 100%;
    height: 4rem;
    border: none;
    color: white;
    font-weight: 600;
    font-size: 2rem;
    border-radius: 0.5rem;
    background-color: #c41230;;
}

#content .content-body .dom .s1 h4{
    color: #666666;
    font-size: large;
}

#content .content-body .dom .s1 input{
    width: 100%;
    height: 4rem;
    margin-top: 0.5rem;
    padding-left: 0.5rem;
    border-radius: 0.5rem;
    border: 0.1rem solid #cccccc;
}

#content .content-body .dom-footer .login-another{
    margin-top: 5rem;
    margin-bottom: 2rem;
    /* background-color: red; */
    color: #666;
}

.login-icon{
    margin-top: 1rem;
}