* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

.clearfix::before,
.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

#head .logo {
    float: left;
}

#head .HtmlTable {
    float: right;
    height: 69px;
    line-height: 69px;
}

#head .HtmlTable ul li {
    float: left;
    background-color: #fff;
    height: 100%;
    width: 180px;
    margin-right: 10px;
}

#head .HtmlTable ul li a {
    color: rgb(241, 97, 121);
    font-family: "微软雅黑";
    font-weight: 700;
    display: block;
    text-align: center;
    width: 100px;
    height: 25px;
    line-height: 25px;
    margin-top: 25px;
}

#head .HtmlTable ul li a:hover {
    background-color: red;
    color: white;
}

#foodDomain {
    text-align: center;
    margin-top: 10px;
}

#foodDomain .foodImg li {
    display: inline-block;
    width: 380px;
    height: 340px;
    border: 1px #d0d0d0 solid;
    margin-bottom: 10px;
}

#foodDomain .foodImg li div {
    width: 380px;
    height: 20px;
}

#foodDomain .foodImg li div div {
    text-align: left;
    margin-left: 10px;
}

#foodDomain .foodImg li div span {
    color: rgb(224, 99, 103);
    display: inline-block;
    width: 100%;
    text-align: left;
    padding-left: 10px;
    margin-top: 10px;
    font-size: 12px;
}

#foodDomain .foodImg li img {
    /* width: 370px; */
    width: 100%;
}

#order {
    border: 10px solid red;
}